<div class="main-sub">
    <div class="search-form">
        <span class="text-input">
            <select (change)="onSelectProperty($event.target.value)" class="btn btn-primary dropdown-toggle">
                <option value="taskId">TaskId</option>
                <option value="title" selected>Title</option>
                <option value="priority">Priority</option>
                <option value="status">Status</option>
            </select>
            <div class="search-clear-box">
          <input placeholder="Search" type="text" name="text" [(ngModel)]="searchText"
                 class="form-control searchDropdown" [hidden]='hideInputElement' placeholder="&#xF002;"
                 style="font-family:Arial, FontAwesome">
          <i [hidden]='hideInputElement' [ngClass]="{'fa fa-remove right-icon' : (searchText.length > 0)}"
             (click)="searchText = ''"></i>
            </div>
            <span [hidden]='hideDropdown'>
            <select (change)="onSelectStatus($event.target.value)"
                    class="btn btn-primary dropdown-toggle statusDropdown">
                <option value="0">Pending</option>
                <option value="1">Completed</option>
                <option value="2">Archived</option>
            </select>
            </span>
        </span>
    </div>

    <div [hidden]='hideDisplayList'>

        <table class="table table-hover table-border task-list">
            <colgroup>
                <col style="width : 20%">
                <col style="width : 20%">
                <col style="width : 20%">
                <col style="width : 20%">
                <col style="width : 20%">
                <col style="width : 20%">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th class="pointer" (click)="sort('taskId')">TaskId

                </th>
                <th>Task</th>
                <th>Priority</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tr *ngFor="let task of (displayList | search : searchText :searchProp)| orderbyID: {property: 'taskId'}; let i = index;"
                [ngClass]="{'completed-task' :task.completed }">
                <td width="50"><input [(ngModel)]="task.completed" type="checkbox"
                                      (change)="update(task.completed,task,i)"/></td>
                <td><span>{{task.taskId}}</span></td>
                <td><span>{{task.title}}</span></td>
                <td><span>{{task.priority}}</span></td>
                <td><span>{{ statuses[task.status][lang]}}</span></td>
                <td><a href="javascript:void(0)"><i class="fa fa-remove" (click)="removedToArchived(i)"></i></a>
                </td>
            </tr>
        </table>


    </div>
    <div [hidden]='hideArchivedArray'>
        <table class="table table-hover table-border task-list">
            <colgroup>
                <col style="width : 20%">
                <col style="width : 20%">
                <col style="width : 20%">
                <col style="width : 20%">
                <col style="width : 20%">
                <col style="width : 20%">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th class="pointer">TaskId

                </th>
                <th>Task</th>
                <th>Priority</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
            </thead>

            <tr *ngFor="let task of (archivedArray | search : searchText :searchProp) | orderbyID: {property: 'taskId'}; let i = index;">
                <td><input [(ngModel)]="task.completed" type="checkbox"/></td>
                <td><span>{{task.taskId}}</span></td>
                <td><span>{{task.title}}</span></td>
                <td><span>{{task.priority}}</span></td>
                <td><span>{{ statuses[task.status][lang]}}</span></td>
                <td><a href="javascript:void(0)"><i class="fa fa-undo" (click)="removedToDisplayList(i)"></i></a>
                </td>
            </tr>

        </table>
    </div>
</div>

